html {
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #444444;
}

body {
    background-image: linear-gradient(black, grey, white);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.main-wrapper {
    position: relative;
    z-index: 0;
}

.image-wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    top: -30px;
}

.image {
    width: 45%;
    min-width: 100px;
    height: 45%;
}

.this-form {
    display: flex;
    position: relative;
    justify-content: center;
    top: -60px;
    max-width: 100%;
}

.LeForm {
    background-color: #cacaca;
    border: 1px solid #8f8c92;
    width: 45%;
}

.input {
    margin: 4% 4% 4% 4%;
    position: relative;
}

.answer-block {
    display: none;
    position: absolute;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 10%;
    background: none;
    border: none;
    z-index: 2;
    top: 44%;
}

.answer-block-onclick {
    display: flex;
}

.font {
    display: none;
    /* position: absolute; */
    color: #213E93;
    font: bold large Helvetica;
    font-weight: 700;
    font-size: 21px;
    line-height: 1;
    font-variant: small-caps;
    text-align: center;
    text-shadow: rgb(163, 180, 216) 1px 0 1px;
    word-break: break-word;
    overflow-wrap: anywhere;
    margin: auto;
}

.font-on-click {
    display: flex;
    
}

.errorbox-wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    
}

.error-box {
    display: none;
    padding: 20px;
    background: rgb(241, 44, 44);
    border-radius: 5px;
    width: 45%;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.show {
    display: flex;
}

.close {
    position: absolute;
    transition: all 200ms;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    clear: both;
    float: right;
    right: 3%;
    top: 10%;
}

.error-box .close:hover {
    color: rgb(172, 171, 171);
}

.content {
    color: rgb(255, 255, 255);
}

.this-table {
    position: relative;
    border: 1px solid #8f8c92;
    width: 45%;
    margin: auto;
    border-collapse: collapse;
    background-color: #cacaca;
    table-layout: fixed;
    top: -60px;
}

td, th {
    border: 1px solid #8f8c92;
    text-align: center;
    padding: 8px;
    word-break: break-word;
    overflow-wrap: anywhere;
}

tr:nth-child(even) {
    background-color: rgb(224, 224, 224);
}

.button-wrapper {
    margin: 0 0 0 0;
    position: relative;
}

#submit-button {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    padding: 13px;
    color: black;
    background-color: rgb(97, 96, 96);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
    border-radius: 1px;
    border: 1px solid gray;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .3), 0 2px 2px -1px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .3) inset;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

#submit-button:active {
    background: no-repeat rgb(180, 180, 180);
}

@media screen and (max-width: 900px) {
    .answer-block {
        top: 41%;
    }
    .font {
        font-size: 2vw;
    }
}

@media screen and (max-width: 768px) {
    .this-table, .LeForm, .error-box {
        width: 100%;
    }
    .image {
        width: 90%;
    }
    .main-wrapper {
        top: 30px;
    }
    .answer-block {
        top: 20%;
        width: 20%;
        left: 40%;
    }
    .font {
        font-size: 3vw;
    }
}

@media screen and (max-width: 600px) {
    .col-40, .col-60, th, td {
        margin-top: 0;
        font-size: 12px;
    }
    .answer-block {
        top: 33%;
        width: 27%;
        left: 36.5%;
    }
    .this-table, .LeForm, .error-box {
        width: 100%;
    }

    .image {
        width: 90%;
    }
    .main-wrapper {
        top: 30px;
    }
    
    .font {
        font-size: 3vw;
    }
}
